<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 基本的表格</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
<a href='http://i1.hdslb.com/bfs/archive/f5741fa9e1848f5587ca41b140314fbb74f82504.jpg'><img src='http://i1.hdslb.com/bfs/archive/f5741fa9e1848f5587ca41b140314fbb74f82504.jpg'</img></a>
</div>
</body>
</html>